<div>
<h4>Setting up GitHub Copilot in VSCode</h4>

<p>
    In any VSCode window, click the Copilot icon near the bottom left corner of the bottom status bar and select "Use AI Features",
    then follow the prompts to sign in using GitHub.
</p>
<p>
    <img src="{{ '/assets/images/setup-copilot-status-bar.png' | relative_url }}" alt="Copilot status bar">
</p>

<p>
    This will give you access to the [Copilot free plan](https://docs.github.com/en/copilot/concepts/billing/individual-plans) in VSCode.
</p>

<p>
    To open the Copilot chat, go to **View > Chat**.
</p>

<p>
    Reference: https://code.visualstudio.com/docs/copilot/setup
</p>
</div>
