<div>
<h4>Git configuration</h4>

<p>
    If you have never used Git on your computer, you may have to configure it.
    The following instructions assume you have already created a GitHub account.
</p>

<p>
    Type the following commands in a terminal. Make sure to use the email associated with your GitHub account.
    The <code>user.name</code> can be any name you want to appear as the author of your commits, but we recommend using the name associated with your GitHub profile.
</p>
<p>
<pre>
git config --global user.name "Jane Doe"
git config --global user.email "janedoe@example.com"
git config --global core.autocrlf true
</pre>
</p>
<p>
    <b>Tip:</b> You can review your configuration at any time with: <code>git config --list</code>
</p>
</div>
